@model TrabajoPractico3.Models.PersonasInformacion

<div class="d-block justify-content-center">
    <p>Nombre: @Html.DisplayFor(m => m.Nombre)</p>
    <p>Apellido: @Html.DisplayFor(m => m.Apellido)</p>
    <p>Nacionalidad: @Html.DisplayFor(m => m.Nacionalidad)</p>
    <p>Email: @Html.DisplayFor(m => m.Email)</p>
    <p>Telefono: @Html.DisplayFor(m => m.Telefono)</p>
</div>
